/* Reset */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

/* Fonts */

@font-face {
    font-family: Technology;
    src: url(technology.ttf);
}

@font-face {
    font-family: Technology;
    src: url(technology_bold.ttf);
    font-weight: bold;
}

/* Utilities */

.highlight {
    color: #FBBF24 !important;
}

/* Components & Layout */

main {
    width: 575px;
    margin: 0 auto;

    padding: 70px 0;

    background: #1B244A;

    > div {
        display: flex;
        justify-content: space-around;
    }
    
    > button {
        display: block;
        width: fit-content;
        aspect-ratio: 2/1;
        padding-inline: 6px;
        margin: 0 auto;
    }
}

.team {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h2 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 40px;
        color: #EEEEEE;
    }
}

.score-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.score {
    width: 180px;
    height: 120px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #080001;
    border-radius: 5px;
    
    > p {
        font-family: "Technology", "Courier New", Courier, monospace;
        font-weight: bold;
        font-size: 90px;
        color: #F94F6D;
        line-height: 0;
    }
}

.fouls-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    h2 {
        font-size: 20px;
    }
}

.fouls {
    width: 60px;
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;

    background: #080001;
    border-radius: 5px;
    
    > p {
        font-family: "Technology", "Courier New", Courier, monospace;
        font-weight: bold;
        font-size: 45px;
        color: #34D399;
        line-height: 0;
    }
}

button {
    font-family: "Technology", "Courier New", Courier, monospace;
    font-weight: bold;
    font-size: 18px;
    color: #9AABD8;

    width: 45px;
    aspect-ratio: 1/1;

    border: 2px solid #9AABD8;
    border-radius: 5px;
    background: none;
}